@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #ffffff;

  --primary: #afb0c2;
  --secondary: #1e293b;

  --border-color: rgba(255, 255, 255, 0.1);

  --soft-text: #d1d5db;
  --muted-text: #9ca3af;

  --hover-bg: rgba(255, 255, 255, 0.1);

  --active-bg: rgba(255, 255, 255, 0.06);
  --active-border: rgba(255, 255, 255, 0.2);

  --input-bg: rgba(255, 255, 255, 0.05);
  --input-border: rgba(255, 255, 255, 0.08);

  --input-text: #e5e7eb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--soft-text) !important;
  border: 1px solid var(--input-border) !important;
  transition: background-color 5000s ease-in-out 0s;
}

html,
body {
  background: var(--background);
}
